a {
  color: lightblue;
  text-decoration: none;
  padding:0 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link{
  display: inline-block;
  padding: 5px 20px;
  font-size: 20px;
  color: lightblue;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 1;
  position: relative;
  transition: all 0.3s ease 0s;
}
.link:hover{ color: #fff; }
.link:before,
.link:after{
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: grey;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transform: scale(0.1);
  transform-origin: left top 0
}
.link:after{
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  transform-origin: right bottom 0;
}
.link:hover:before,
.link:hover:after{
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s linear 0s;
}
@media only screen and (max-width: 767px){
  .link{ margin-bottom: 20px; }
}
